@model ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">¡Ups! Algo salió mal.</h4>
    <p>@Model.Message</p>
    <hr>
    <p class="mb-0">Si necesitas ayuda, por favor contacta al soporte técnico. Vuelve hacia atras!!</p>
</div>