@using Kanban.ViewModels

@model ModificarUsuarioViewModel

@{
    ViewData["Title"] = "Modificar Usuario";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h2 class="mb-0">Modificar Usuario</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Usuario" asp-action="modificarUsuario" method="post">
                        <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label asp-for="NombreUsuario" value="@Model.NombreUsuario" class="form-label">Nombre</label>
                            <input asp-for="NombreUsuario" class="form-control" />
                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rol" class="form-label">Rol</label>
                            <select asp-for="Rol" class="form-control">
                                <option value="1">Administrador</option>
                                <option value="2">Operador</option>
                            </select>
                            <span asp-validation-for="Rol" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block mt-3">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
